*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    background-color: aliceblue;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
}
.Win{
    background:  linear-gradient(45deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background: -moz-linear-gradient(45deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    animation: winer 1s infinite ease-in-out;
}
@keyframes winer {
    0%{    
    background:  linear-gradient(0deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(0deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    }
10%{    
    background:  linear-gradient(30deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(30deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
25%{    
    background:  linear-gradient(45deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(45deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
40%{    
    background: linear-gradient(80deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background: -moz-linear-gradient(80deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
55%{    
    background:  linear-gradient(100deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(100deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
65%{    
    background: linear-gradient(140deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(140deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
75%{    
    background: linear-gradient(160deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(160deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
80%{    
    background: linear-gradient(200deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(200deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
90%{    
    background: linear-gradient(240deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background: -moz-linear-gradient(240deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
100%{
    background:  linear-gradient(290deg,lightgreen ,lightblue ,lightgreen,lightcoral);
    background:-moz-linear-gradient(290deg,lightgreen ,lightblue ,lightgreen,lightcoral);

}
}

.quiz{
    display: grid;
    grid-template-areas: 
    "quast quast"
    "choic1 choic2"
    "choic3 choic4"
    "start start"
    "time score"
    ;
    min-width:60vw;
    max-width:90vw;
    
    min-height: 300px;
    border-radius: 10px;
    background-color: lightblue;
    padding: 15px;
    border: 1px  black;
    box-shadow: 1px 1px 1px 6px rgba(5, 176, 255, 0.329);
}
.ch1{
    grid-area:choic1 ;
}
.ch2{
    grid-area:choic2 ;
}
.ch3{
    grid-area:choic3 ;
}
.ch4{
    grid-area:choic4 ;
}
.Question{
    margin: auto;
grid-area: quast;
text-align: left;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.6em;
}
.choices{
    display: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
    min-height: 40px;
}
.choices:hover{
    /* border:2px solid black; */
    background-color: rgba(0,0,0,0.1);
}
button{
    cursor: pointer;
}

.start,.next{
    grid-area: start;
    border-radius: 10px;
    border: none;
    /* background-color:linear-gradient(45deg, blue, red); */
   
    background: linear-gradient(45deg,lightgreen 50%,lightcoral 50%);
    background:-moz-linear-gradient(45deg,lightgreen 50%,lightcoral 50%);
}
.start:hover,.next:hover{
    border:1px solid black
}
.next{
    display: none;
}
.Timing{
    display: none;
    position: relative;
    text-align: center;
    margin-top: 10px;
    grid-area: time;
    width: 160%;
    border-radius: 30px;
    border: 1px solid black;
    background:linear-gradient(90deg,rgba(0,0,0,.2) 0%,transparent 00%);
    background: -moz-linear-gradient(0,rgba(0,0,0,.2) 0%,transparent 00%);
}
.score{
    display: none;

    margin-top: 10px;
    grid-area: score;
    text-align: right;
    align-items: center;
    margin-left: 60%;
}


@media (max-width:600px) {
    .quiz{
        display: grid;
        grid-template-areas: 
        "quast quast"
        "choic1 choic2"
        "choic3 choic4"
        "start start"
        "time score"
        ;
        min-width:80vw;
        max-width:90vw;
        margin: auto;
        min-height: 300px;
        border-radius: 10px;
        background-color: lightblue;
        padding: auto;
    }
    
}

@media (max-width:425px) {
    .quiz{
        display: grid;
        grid-template-areas: 
        "quast quast"
        "choic1 choic1"
        "choic2 choic2"
        "choic3 choic3"
        "choic4 choic4"
        "start start"
        "time score"        ;
        min-width:80vw;
        max-width:90vw;
        margin: auto;
        min-height: 300px;
        border-radius: 10px;
        background-color: lightblue;
        padding: auto;
    }
    
}